*{
	border-sizing:border-box;
}

input{
	display:block;
	height: 40px;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #999999;
}
.hacle{
	display: block;
	text-align: center;
}
.container{
	width: 350px;
	border: 2px solid #999999;
	border-radius: 5px;
	padding: 20px;
}

.clear{
	float: left; 
	display: block; 
	margin-right: 5px;
	background-color: #999999;
	font-weight: bold;
	border: 2px solid #999999;
	border-radius: 5px;
}

button{
	background-color: #ffffff;
	border: 2px solid #999999;
	border-radius: 5px;
	height: 40px;
	width: 50px;
	margin-left:5px;
	margin-top: 5px;
	font-weight: bold;
	font-size: 20px;
}

.butt{
	background-color: #ff9600;
	border: 2px double #999999;
	border-radius: 5px;
	height: 40px;
	width: 30%;
	font-weight: bold;
	font-size: 20px;
}